body {
  color: orange;
  font-family: 'Creepster', cursive;
  background-image: url('../public/skeletons.jpg');
  background-size: auto;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 2rem;
}
