body {
  color: orange;
  font-family: 'IM Fell English SC', serif;
  font-size: 18px;
  background-image: url('../public/skeletons.jpg');
  background-size: auto;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 2rem;
}
.processed {
  padding: 0px;
}

@media (min-width: 600px) {
  .processed {
    padding: 10px;
  }
}
