body {
  /* background-color: black; */
  color: orange;
  font-family: 'Creepster', cursive;
  background-image: url('../public/skeletons.jpg');
  background-size: auto;
}

.App {
  text-align: center;
  /* display: flex;
  flex-direction: row; */
}

/* button {
  background-color: orange;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: orange;
}

.container {
  display: flex;
  flex-direction: row;
} */

/* @media (max-width: 600px) {
  .App {
    flex-direction: column;
  }
} */
